.dk{
    background-color:#C41E3A
}
.dh{
    background-color: #A330C9
}
.druid{
    background-color: #FF7C0A;
}
.evoker{
    background-color: #33937F;
}
.hunter{
    background-color: #AAD372;
}
.mage{
    background-color: #3FC7EB;
}
.monk{
    background-color: #00FF98;
}
.Paladin{
    background-color: #F48CBA;
}
.priest{
    background-color: #FFFFFF;
}
.rogue{
    background-color: #FFF468;
}
.shaman{
    background-color: 	#0070DD;
}
.warlock{
    background-color: #8788EE;
}
.warrior{
    background-color: #C69B6D;
}